@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<html lang="en">
	<head>
		<title>My Umbraco Test Site</title>        
	</head>
	
    <body>
        https://umbraco.tv/videos/umbraco-v7/implementor/working-with-umbraco-data/macros-partial-views/using-macros-in-a-template/
    </body>
	
</html>